<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/c1.css')}}">

</head>
<body>
    <center>
        <h1>This is First HTML Page</h1>
        <h2>My name is {{name}} </h2>

        <img src="{{url_for('static', filename='images/rose.jpg')}}" alt="">

        <h1><a href="{{url_for('second')}}">Go to second page</a></h1>

    </center>
    
</body>
</html>